{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h3>社内SNS</h3>
</div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
{% for item in object_list %}
<div class="alert alert-success" role="alert">
    <p>タイトル：<a href="{% url 'detail' item.pk %}">{{ item.title }}</a></p>
    <p>投稿者：{{ item.author }}</p>
    <a class="btn btn-primary" href="#" role="button">Link</a>
    <a class="btn btn-primary" href="#" role="button">Link</a>
</div>
{% endfor %}
<a class="btn btn-primary" href="{% url 'logout' %}" role="button">ログアウト</a>
{% else %}
<p>ログインしてください</p>
{% endif %}
{% endblock content %}